/* CSS Document */
/* Import CSS */
@import url("header-footer.min.css");
.body {
  margin-left: 7rem;
  margin-right: 7rem;
  background-color: #f5f5f5;
  font-family: var(--primary-font);
  margin-bottom: auto;
  padding-top: 1rem;
}
.body .about {
  display: flex;
  margin-right: 4rem;
  margin-left: 4rem;
}
.body .about .about-text p {
  text-indent: 1rem;
}
.body .about .abt-img-contain .about-image {
  content: none;
  background-image: url("../assets/images/FrostlightMountainSnow-TeamPhoto.png");
  background-repeat: no-repeat;
  background-position: center center;
  color: transparent;
  margin-right: 10px;
  width: 35vw;
  height: 19.6875vw;
  background-size: 35vw;
  min-width: 35vw;
  min-height: 19.6875vw;
  display: inline-block;
}
.body .our-team {
  margin-left: 4rem;
  margin-right: 4rem;
}
.body .our-team h2 {
  letter-spacing: normal;
  text-align: center;
}
.body .our-team .h-divide {
  height: 0.1em;
  margin-left: 30%;
  margin-right: 30%;
  background-color: rgba(0, 0, 0, 0.1882352941);
  border-radius: 5px;
}
.body .our-team .hierarchy {
  text-align: center;
  letter-spacing: 5px;
  padding-bottom: 3rem;
}
.body .our-team .hierarchy h3 {
  letter-spacing: normal;
}
.body .our-team .hierarchy .leaders {
  padding-bottom: 2em;
}
.body .our-team .hierarchy .team-card {
  text-align: center;
  width: 180px;
  padding: 10px;
  border-radius: var(--radius-md);
  background-clip: padding-box;
  border: solid 3px lightgray;
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  display: inline-block;
  letter-spacing: normal;
}
.body .our-team .hierarchy .team-card .portrait {
  content: none;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: center center;
  color: transparent;
  width: 140px;
  height: 140px;
  background-size: 140px;
  min-width: 140px;
  min-height: 140px;
  display: inline-block;
  border-radius: 70px;
  box-shadow: var(--box-shadow);
}
.body .our-team .hierarchy .team-card .about-member h3 {
  font-family: var(--primary-font);
  margin-bottom: 0;
}
.body .our-team .hierarchy .team-card .about-member p {
  line-height: 1em;
  margin-top: 0;
  margin-bottom: 5px;
}
.body .our-team .hierarchy .team-card .social {
  border-top: 2px solid rgba(0, 0, 0, 0.0823529412);
}
.body .our-team .hierarchy .team-card .social .social-logo {
  content: none;
  background-repeat: no-repeat;
  background-position: center center;
  color: transparent;
  margin-top: 5px;
  width: 24px;
  height: 24px;
  min-width: 24px;
  display: inline-block;
  cursor: pointer;
}

@media screen and (max-width: 1600px) {
  .about-image {
    content: none;
    background-image: url("../assets/images/FrostlightMountainSnow-TeamPhoto.png");
    background-repeat: no-repeat;
    background-position: center center;
    color: transparent;
    margin-right: 10px;
    width: 15vw;
    height: 8.4375vw;
    background-size: 15vw;
    min-width: 15vw;
    min-height: 8.4375vw;
    display: inline-block;
  }
}
@media screen and (max-width: 1280px) {
  .abt-img-contain {
    opacity: 0%;
    width: 0px;
  }
}