/* CSS Document */
/* Import fonts */
@import url("https://sakura-sedaia.com/assets/fonts/fonts.css");
:root {
  /* Extra's to add onto the Glass Theme, imported from SoW Skin Server page */
  /* Fonts */
  --primary-font: "Source Sans Pro";
  --secondary-font: "Open Sans";
  --minecraft-font: "Minecraft";
  /* Transition Durations */
  --tgl-transition: 100ms;
  --login-field-transition: 240ms;
  --nav-transition: 200ms;
  /* Other fields */
  --radius-md: 10px;
  --radius-sm: 5px;
  --box-shadow: 0px 3px 5px -1px #00000033, 0px 5px 8px 0px #00000024, 0px 1px 14px 0px #0000001f;
  --margin-base: 1in;
  --blur: 25px;
}

* {
  transition-duration: 100ms;
}

/* Global Styles */
html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: black;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  background-color: #dfdfdf;
}

nav {
  position: sticky;
  align-items: center;
  z-index: 0;
  padding: 0px;
  box-shadow: 0 3px 40px black;
}
nav .container {
  display: flex;
  margin: 0px;
  margin-left: 3rem;
  margin-right: 3rem;
}
nav .container .navbar-brand {
  width: 190px;
  margin-right: auto;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  height: 44px;
  display: flex;
  font-family: "Noto Sans";
}
nav .container .navbar-brand .banner-logo {
  content: none;
  background-image: url("../assets/vectors/SVG/Frostlight-Fox-Logo.svg");
  background-repeat: no-repeat;
  background-position: center center;
  color: transparent;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  min-width: 44px;
  display: inline-block;
}
nav .container .nav-hidden {
  display: none;
}
nav .container .navbar-nav .navbar-list {
  list-style-position: inside;
  display: flex;
  margin: 0;
}
nav .container .navbar-nav .navbar-list .navbar-item {
  list-style-type: none;
  display: inline-block;
  background-color: #dfdfdf;
  width: 100px;
  cursor: pointer;
  text-align: center;
  line-height: 44px;
  color: #292929;
  text-decoration: none;
  font-family: var(--secondary-font);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 0em 0em inset rgb(0, 255, 179), 0 0em inset #dfdfdf;
}
nav .container .navbar-nav .navbar-list .navbar-item:hover {
  box-shadow: 0em -0.15em inset rgb(0, 255, 179), 0 3em inset #818181;
  color: rgb(0, 255, 179);
  text-decoration: none;
}
nav .container .navbar-nav .navbar-list .navbar-item[data-active=true] {
  box-shadow: 0em -0.3em inset rgb(0, 183, 255), 0 0em inset #818181;
}
nav .container .navbar-nav .navbar-list .navbar-item[data-active=true]:hover {
  box-shadow: 0em -0.15em inset rgb(0, 255, 179), 0 3em inset #818181;
  color: rgb(0, 255, 179);
  text-decoration: none;
}

.header {
  background-image: url("../assets/images/Final_Render_V2.png");
  background-size: cover;
  background-position: center -30rem;
  text-align: left;
  height: auto;
  padding-bottom: 10rem;
}
.header .title {
  text-align: left;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  left: 5rem;
  top: 3rem;
  position: relative;
  box-shadow: var(--box-shadow);
  border-radius: var(--radius-md);
  padding-left: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.header .title .text {
  background-color: transparent;
  margin: 0.3in;
  padding-top: 20px;
  padding-bottom: 20px;
  left: 5rem;
}
.header .title .text h1 {
  font-family: var(--primary-font);
  color: #dfdfdf;
}
.header .title .text p {
  font-family: var(--secondary-font);
  color: #c7c7c7;
}
.header .title .header-logo {
  content: none;
  background-image: url("../assets/vectors/SVG/Frostlight-Fox-Logo.svg");
  background-repeat: no-repeat;
  background-position: center center;
  color: transparent;
  margin-right: 10px;
  width: 175px;
  height: 175px;
  background-size: 175px;
  min-width: 175px;
  min-height: 175px;
  display: inline-block;
}

.body {
  margin-left: 7rem;
  margin-right: 7rem;
  background-color: #f5f5f5;
  font-family: var(--primary-font);
  margin-bottom: auto;
  padding-top: 1rem;
}
.body .about {
  display: flex;
  margin-right: 4rem;
  margin-left: 4rem;
}
.body .about .about-text p {
  text-indent: 1rem;
}
.body .about .about-image {
  content: none;
  background-image: url("../assets/images/FrostlightMountainSnow-TeamPhoto.png");
  background-repeat: no-repeat;
  background-position: center center;
  color: transparent;
  margin-right: 10px;
  width: 512px;
  height: 288px;
  background-size: 512px;
  min-width: 512px;
  min-height: 288px;
  display: inline-block;
}
.body .our-team {
  margin-left: 4rem;
  margin-right: 4rem;
}
.body .our-team h2 {
  letter-spacing: normal;
}
.body .our-team .hierarchy {
  text-align: center;
  letter-spacing: 5px;
}
.body .our-team .hierarchy h3 {
  letter-spacing: normal;
}
.body .our-team .hierarchy .team-card {
  text-align: center;
  width: 180px;
  padding: 10px;
  border-radius: var(--radius-md);
  background-clip: padding-box;
  border: solid 3px lightgray;
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  display: inline-block;
  letter-spacing: normal;
}
.body .our-team .hierarchy .team-card .portrait {
  content: none;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: center center;
  color: transparent;
  width: 140px;
  height: 140px;
  background-size: 140px;
  min-width: 140px;
  min-height: 140px;
  display: inline-block;
  border-radius: 70px;
  box-shadow: var(--box-shadow);
}
.body .our-team .hierarchy .team-card .about-member h3 {
  font-family: var(--primary-font);
  margin-bottom: 0;
}
.body .our-team .hierarchy .team-card .about-member p {
  line-height: 1em;
  margin-top: 0;
  margin-bottom: 5px;
}
.body .our-team .hierarchy .team-card .social {
  border-top: 2px solid rgba(0, 0, 0, 0.0823529412);
}
.body .our-team .hierarchy .team-card .social .social-logo {
  content: none;
  background-repeat: no-repeat;
  background-position: center center;
  color: transparent;
  margin-top: 5px;
  width: 24px;
  height: 24px;
  min-width: 24px;
  display: inline-block;
  cursor: pointer;
}

.footer {
  background-color: #292929;
  color: white;
}
.footer .foot-contain {
  display: flex;
}
.footer .foot-contain .foot-social {
  flex-basis: 20%;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.footer .foot-contain .foot-social ul h3 {
  font-family: var(--primary-font);
}
.footer .foot-contain .foot-social ul li {
  list-style-type: none;
  font-family: var(--secondary-font);
  text-indent: 2em;
  cursor: pointer;
}
.footer .foot-contain .foot-divider {
  background-color: rgba(255, 255, 255, 0.062745098);
  flex-basis: 0.1em;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  color: transparent;
}
.footer .foot-contain .foot-links {
  display: flex;
}
.footer .foot-contain .foot-links .column .link-contain ul h3 {
  font-family: var(--primary-font);
}
.footer .foot-contain .foot-links .column .link-contain ul li {
  font-family: var(--secondary-font);
  list-style-type: none;
  text-indent: 2em;
  cursor: pointer;
}
.footer .footer-banner .foot-notes {
  display: inline-block;
  bottom: 0;
  position: relative;
}
.footer .footer-link {
  box-shadow: 0 0 inset rgb(0, 255, 179);
  margin-left: 0;
}
.footer .footer-link:hover {
  color: rgb(0, 255, 179);
  box-shadow: 0.1em 0 inset rgb(0, 255, 179);
}