/* Import CSS */
@import url("header-footer.min.css");
.body {
  margin-left: 7rem;
  margin-right: 7rem;
  background-color: #f5f5f5;
  font-family: var(--primary-font);
  margin-bottom: auto;
  padding-top: 1rem;
}
.body .section-divider {
  margin-left: 10rem;
  margin-right: 10rem;
  height: 3px;
  border-radius: 1.5px;
  overflow: hidden;
  background-color: lightgray;
  color: transparent;
  cursor: default;
  pointer-events: none;
}
.body .project-container {
  margin-left: 4rem;
  margin-right: 4rem;
}
.body .project-container .project-header {
  /*
  .abt-img-contain {
      .about-image {
          content: none;
          background-image: url("../assets/images/FrostlightMountainSnow-TeamPhoto.png");
          background-repeat: no-repeat;
          background-position: center center;
          color: transparent;
          margin-right: 10px;
          width: 35vw;
          height: calc(35vw/calc(16/9));
          background-size: 35vw;
          min-width: 35vw;
          min-height: calc(35vw/calc(16/9));
          display: inline-block;
      }
  }
  */
}
.body .project-container .project-header .project-about h1 {
  font-family: var(--primary-font);
  font-family: "Open Sans";
}
.body .project-container .project-header .project-about h2 {
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
}
.body .project-container .project-header .project-about p {
  font-family: var(--secondary-font);
}
.body .social-promo {
  margin-left: 4rem;
  margin-right: 4rem;
}
.body .social-promo h2 {
  font-family: var(--primary-font);
}
.body .social-promo p {
  font-family: var(--secondary-font);
}
.body .social-promo a {
  font-family: var(--secondary-font);
}