dist
.wrangler
.output
.vercel
.netlify
.vinxi
app.config.timestamp_*.js
*.hidden
.logs

# Environment
.env
.env*.local

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
*.code-workspace

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
/utils/renders/
/utils/lib/
/.output.txt

# Sibling Project Sync
/.junie/siblings/
.hidden
.compressed