/* Google Fonts Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,600;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Discord Fonts */
@font-face {
  font-display: swap;
  font-family: Whitney;
  font-style: normal;
  font-weight: 400;
  src: url(discord_fonts/whitney-book-regular.0f823bc4.woff) format("woff");
}
/* 
  https://projectblurple.com/_nuxt/whitney-book-regular.0f823bc4.woff
*/

@font-face {
  font-display: swap;
  font-family: Whitney;
  font-style: normal;
  font-weight: 500;
  src: url(discord_fonts/whitney-medium-regular.ba33ed18.woff) format("woff");
}
/* 
  https://projectblurple.com/_nuxt/whitney-medium-regular.ba33ed18.woff
*/

@font-face {
  font-display: swap;
  font-family: Whitney;
  font-style: normal;
  font-weight: 600;
  src: url(discord_fonts/whitney-semibold-regular.9231ab6a.woff) format("woff");
}
/* 
  https://projectblurple.com/_nuxt/whitney-semibold-regular.9231ab6a.woff
*/

@font-face {
  font-display: swap;
  font-family: Ginto Normal;
  font-style: normal;
  font-weight: 700;
  src: url(discord_fonts/ginto-normal.a3387f91.woff2) format("woff2"),
    url(discord_fonts/ginto-normal.12954218.woff) format("woff");
}
/* 
  https://projectblurple.com/_nuxt/ginto-normal.a3387f91.woff2
  https://projectblurple.com/_nuxt/ginto-normal.12954218.woff
*/

@font-face {
  font-display: swap;
  font-family: Ginto Nord;
  font-style: normal;
  font-weight: 800;
  src: url(discord_fonts/ginto-nord.e7f99c2e.woff2) format("woff2"),
    url(discord_fonts/ginto-nord.a5047de7.woff) format("woff");
}
/* 
  https://projectblurple.com/_nuxt/ginto-nord.e7f99c2e.woff2
  https://projectblurple.com/_nuxt/ginto-nord.a5047de7.woff
*/
