@use "variables" as *;

#about-us {
  display: flex;
  margin: 0 4rem;
  gap: 2rem;
  align-items: center;

  .about-text {
    flex: 1;
    p {
      text-indent: 1rem;
      color: var(--tx-primary);
    }
  }

  .abt-img-contain {
    .about-image {
      width: 35vw;
      height: auto;
      aspect-ratio: 16/9;
      border-radius: 0.3125rem;
      box-shadow: var(--box-shadow);
      object-fit: cover;
    }
  }
}

#our-team {
  margin: 4rem;

  h2 {
    letter-spacing: normal;
    text-align: center;
    color: var(--tx-primary);
  }


  .hierarchy {
    text-align: center;
    padding-bottom: 3rem;

    h3 {
      letter-spacing: 0.125rem;
      color: var(--tx-primary);
      margin: 2rem 0;
    }

    .leaders {
      display: flex;
      justify-content: center;
      gap: 2rem;
      flex-wrap: wrap;
    }

    .team-card {
      text-align: center;
      width: 12.5rem;
      padding: 0.9375rem;
      border-radius: var(--radius-md);
      background-color: var(--bg-secondary);
      border: 0.125rem solid hsla(0, 0%, 50%, 0.2);
      box-shadow: var(--box-shadow);
      display: inline-block;
      transition: transform 0.2s;


      .portrait {
        width: 8.75rem;
        height: 8.75rem;
        border-radius: 50%;
        box-shadow: var(--box-shadow);
        object-fit: cover;
        margin-bottom: 0.625rem;
      }

      .about-member {
        h3 {
          margin: 0.625rem 0 0.3125rem 0;
          letter-spacing: -0.03125rem;
        }

        p {
          line-height: 1.2;
          font-size: var(--font-size-small);
          color: var(--tx-secondary);
          margin: 0 0 0.625rem 0;
        }
      }

      .social {
        border-top: 0.0625rem solid hsla(0, 0%, 50%, 0.2);
        padding-top: 0.625rem;
        display: flex;
        justify-content: center;
        gap: 0.625rem;

        .social-icon {
          height: 1.5rem;
          width: 1.5rem;
          color: var(--tx-secondary);
          transition: color 0.2s;

          &:hover {
            color: var(--tx-primary);
          }
        }
      }
    }
  }
}

#discord {
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 3rem 10% 4rem;
  background-image: url(/images/FrostlightMountainSnow-TeamPhoto.jpg);
  background-size: cover;
  background-position: center 40%;

  .overlay {
    background-color: hsla(var(--bg-primary-val), .685);
    padding: 1.25rem 10%;
    backdrop-filter: blur(0.3125rem);
    width: fit-content;
    display: inline-block;
    border-radius: 0.9375rem;
    box-shadow: var(--box-shadow);

    p {
      display: block;
    }

    a {
      border-radius: 1.5625rem;
      background-color: hsl(235, 86%, 65%);
      color: white;
      cursor: pointer;
      display: inline-block;
      width: fit-content;
      $side-padding: 1.875rem;
      padding: 0.625rem $side-padding;
      box-shadow: 0px 0.1875rem 0.3125rem -0.0625rem hsla(0, 0%, 0%, 0.2), 0px 0.3125rem 0.5rem 0px hsla(0, 0%, 0%, 0.14),
      0px 0.0625rem 0.875rem 0px hsla(0, 0%, 0%, 0.12), 0 0 hsl(220, 9%, 15%);
      transition-duration: 250ms;

      &:hover {
        background-color: hsl(227, 58%, 65%);
        color: white;
        box-shadow: 0px 0.1875rem 0.3125rem -0.0625rem hsla(0, 0%, 0%, 0.2), 0px 0.3125rem 0.5rem 0px hsla(0, 0%, 0%, 0.14),
        0px 0.0625rem 0.875rem 0px hsla(0, 0%, 0%, 0.12), -0.125rem 0.3125rem hsl(229, 31%, 44%);
        transform: translate(0.125rem, -0.3125rem);
      }
    }
  }
}

@media screen and (max-width: 80em) {
  .about {
    flex-direction: column;
    margin: 0 1rem;

    .abt-img-contain {
      width: 100%;
      .about-image {
        width: 100%;
      }
    }
  }
}
