@use "variables" as *;

.body-container {
  margin: 1rem 7rem auto 7rem;
  background-color: var(--bg-primary);
  font-family: var(--font-main);
  padding-top: 1rem;

  .about {
    display: flex;
    margin: 0 4rem;
    gap: 2rem;
    align-items: center;

    .about-text {
      flex: 1;
      p {
        text-indent: 1rem;
        color: var(--tx-primary);
      }
    }

    .abt-img-contain {
      .about-image {
        width: 35vw;
        height: auto;
        aspect-ratio: 16/9;
        border-radius: 5px;
        box-shadow: var(--box-shadow);
        object-fit: cover;
      }
    }
  }

  .our-team {
    margin: 4rem;

    h2 {
      letter-spacing: normal;
      text-align: center;
      font-family: var(--font-heading);
      color: var(--tx-primary);
    }

    .h-divide {
      height: .1em;
      margin: 0 30%;
      background-color: hsla(0, 0%, 50%, 0.2);
      border-radius: 5px;
    }

    .hierarchy {
      text-align: center;
      padding-bottom: 3rem;

      h3 {
        letter-spacing: 2px;
        font-family: var(--font-heading);
        color: var(--tx-primary);
        margin: 2rem 0;
      }

      .leaders {
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
      }

      .team-card {
        text-align: center;
        width: 200px;
        padding: 15px;
        border-radius: var(--radius-md);
        background-color: var(--bg-secondary);
        border: 2px solid hsla(0, 0%, 50%, 0.2);
        box-shadow: var(--box-shadow);
        display: inline-block;
        transition: transform 0.2s;

        &:hover {
          transform: translateY(-5px);
        }

        .portrait {
          width: 140px;
          height: 140px;
          border-radius: 50%;
          box-shadow: var(--box-shadow);
          object-fit: cover;
          margin-bottom: 10px;
        }

        .about-member {
          h3 {
            font-family: var(--font-main);
            margin: 10px 0 5px 0;
            font-size: 1.1rem;
            letter-spacing: -0.5px;
          }

          p {
            line-height: 1.2;
            font-size: 14px;
            color: var(--tx-secondary);
            margin: 0 0 10px 0;
          }
        }

        .social {
          border-top: 1px solid hsla(0, 0%, 50%, 0.2);
          padding-top: 10px;
          display: flex;
          justify-content: center;
          gap: 10px;

          .social-icon {
            height: 24px;
            width: 24px;
            filter: grayscale(1);
            transition: filter 0.2s;

            &:hover {
              filter: grayscale(0);
            }
          }
        }
      }
    }
  }

  .discord {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 3rem 10% 4rem;
    background-image: url(/images/FrostlightMountainSnow-TeamPhoto.png);
    background-size: cover;
    background-position: center 40%;

    .overlay {
      background-color: hsla(var(--bg-primary-val), .685);
      padding: 20px 10%;
      backdrop-filter: blur(5px);
      width: fit-content;
      display: inline-block;
      border-radius: 15px;
      box-shadow: var(--box-shadow);

      p {
        display: block;
      }

      a {
        border-radius: 25px;
        background-color: #5865f2;
        color: white;
        cursor: pointer;
        display: inline-block;
        width: fit-content;
        $side-padding: 30px;
        padding: 10px $side-padding;
        box-shadow: 0px 3px 5px -1px #00000033, 0px 5px 8px 0px #00000024,
        0px 1px 14px 0px #0000001f, 0 0 #23272a;
        transition-duration: 250ms;

        &:hover {
          background-color: #7289DA;
          color: white;
          box-shadow: 0px 3px 5px -1px #00000033, 0px 5px 8px 0px #00000024,
          0px 1px 14px 0px #0000001f, -2px 5px #4E5D94;
          transform: translate(2px, -5px);
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .body-container {
    margin: 1rem 2rem;
    
    .about {
      flex-direction: column;
      margin: 0 1rem;
      
      .abt-img-contain {
        width: 100%;
        .about-image {
          width: 100%;
        }
      }
    }
  }
}
