@use "variables" as *;

.content-container {
  margin-inline: auto;
  padding-block: 1rem;
  margin-block: 2rem;
  border-radius: var(--radius-lg);
  max-width: 80rem;
  background-color: hsl(var(--bg-secondary-val));
  border: 0.125rem solid hsla(var(--bg-contrast-light-val), 20%);

  $margin: 4rem;
  $padding: 2rem;

  // Section Classes
  section {
    margin-inline: $margin;
    padding-block: 1rem;
    margin-block: 2rem;
    padding-inline: $padding;

    p {
      margin-bottom: 1rem;
      font-family: var(--font), serif;
      font-size: var(--font-size-body);
      line-height: 1.75;
    }
    span {
      display: block;
      margin-bottom: 1rem;
      font-family: var(--font), serif;
      font-size: 1.25rem;
      line-height: 1.75;
    }
    li {
      margin-bottom: 1rem;
      font-family: var(--font), serif;
      font-size: var(--font-size-body);
      line-height: 1.75;
    }
    .heading h1 {
      // Reset Margin when inside Section
      margin-top: 0;
      margin-inline: .5rem;
    }
    
    // Layouts
    .row-container {
      display: block;

      .row, .content-row {
        display: inline-block;
        gap: 1rem;
        border-bottom: 0.0625rem solid hsla(var(--bg-contrast-light-val), 30%);
        width: 100%;

        &:last-child {
          border-bottom: none;
        }


        &.border {
          border-radius: var(--radius-lg);
          border: 0.125rem solid var(--bg-accent);
        }
      }
    }
    
    .column-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

      .column {
        width: 90%;
        padding: 1rem;
        height: auto;
        margin-bottom: 1rem;
        
        img {
          width: 80%;
          margin-inline: auto;
          display: block;
          filter: var(--drop-shadow);
          border-radius: var(--radius-md);
        }

        .img-caption {
          text-align: center;
          width: 100%;
          display: block;
          padding-bottom: 0.3rem;
        }

        &.bg-color {
          background-color: hsl(var(--bg-secondary-val));
          padding: 1rem;
          border: 0.125rem solid hsla(var(--bg-contrast-light-val), 10%);
        }

        &.shadow {
          box-shadow: var(--box-shadow-lg);
        }

        &.align-center-v {
          align-items: center;
          vertical-align: middle;
          justify-content: center;
        }

        &.split {
          border-radius: var(--radius-lg);
          overflow: hidden;
          width: 90%;
          margin-inline: auto;
          padding: 1rem;
          border: 0.125rem solid hsla(var(--bg-contrast-light-val), 10%);
          box-shadow: var(--box-shadow-lg);
          min-height: fit-content;
          height: auto;
          margin-bottom: 1rem;
          background-color: hsla(var(--bg-primary-val), 50%);
        }
      }

      // Modifiers
      &.flow {
        // Newspaper Style Column Layout, useful for long lists with a lot of items.
        display: block;
        column-width: 20rem;
      }
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      gap: 1rem;

      .grid-item {
        border-radius: var(--radius-lg);
        overflow: hidden;
        margin: 0 auto;
        height: auto;
        min-width: 20rem;
        width: 90%;
        padding: 1rem;
        box-shadow: var(--box-shadow-lg);
        font-size: var(--font-size-body);
        background-color: hsl(var(--bg-secondary-val));
        border: 0.125rem solid hsla(var(--bg-contrast-light-val), 10%);

        &.gradient {
          background-color: hsla(var(--bg-accent-val), 75%);
          background-image: var(--bg-gradient-dark);
          border: 0.125rem solid hsla(var(--bg-contrast-light-val), 40%);
        }

        &.split {
          border-radius: var(--radius-lg);
          overflow: hidden;
          width: 90%;
          margin-inline: auto;
          padding: 1rem;
          border: 0.125rem solid hsla(var(--bg-contrast-light-val), 10%);
          box-shadow: var(--box-shadow-lg);
          min-height: fit-content;
          height: auto;
          margin-bottom: 1rem;
          background-color: hsla(var(--bg-primary-val), 50%);
        }

        &.emphasis {
          // Apply this attribute for grid cards which need extra visual emphasis
          background-color: hsla(var(--bg-accent-val));
        }
      }
    }

    .standard-container {
      margin-inline: .5rem;
    }
    
    // Modifiers
    &.full-width {
      padding-inline: calc($margin + $padding);
      margin-inline: 0;
      background-color: hsla(var(--bg-secondary-val));
      border-inline-width: 0 !important;
      border-radius: 0 !important;
    }

    &.breakout {
      background-color: hsla(var(--bg-accent-val));
      color: hsl(var(--tx-accent-val));
      border: 0.125rem solid hsla(var(--tx-accent-val), 50%);
      border-radius: var(--radius-lg);
    }

    &.image {
      // Background Image is set in the HTML
      padding-inline: $margin;
      margin-inline: 0;
      border-radius: var(--radius-lg);
    }

    &.no-padding {
      padding-inline: 0;
    }
    &.no-margin {
      margin-inline: 0;
    }
  }
}

// Content Media fixes
@media screen and (max-width: 720px) {

  .content-container {
    display: block;
    border-radius: 0;
    margin: 0;
    border-width: 0;

    // Section Classes
    section {
      margin: 0 auto;
      padding-block: 1rem;
      padding-inline: 1rem;
      display: block;
      width: 90%;

      p {
        font-size: var(--font-size-small);
      }

      // Modifiers
      &.breakout {
        border-top: none;
        padding-inline: 0;
        width: 100%;
        border-radius: 0;

        div.content {
          margin-inline: 3rem;
        }
      }

      // Layouts
      .column-container {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        .column {
          margin: 0 auto;

          img {
            margin: 0 auto;
            width: 80%;
          }
        }
      }

      .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        display: block;
        .grid-item {
          display: block;
          width: 80%;
          margin-inline: auto;
          margin-top: 1rem;
          height: fit-content;
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  body {
    overflow-x: hidden;
  }
  .content-container {
    section {
      p {}
      
      span {}
      
      li {}
      
      .row-container {}
      
      .column-container {}
      
      .grid-container {}
      
      // Modifiers
      &.breakout {
        border-inline-width: 0;
        
        div.content {
          margin-inline: 1.5rem;
        }
      }
      
      &.image {}
      
      &.no-padding {}
      
      &.no-margin {}
    }
  }
}