/* CSS Document */
/* Import CSS */
@import url("https://sakura-sedaia.com/assets/fonts/fonts.css");
@import url("../fonts/fonts.css");
:root {
    /* Extra's to add onto the Glass Theme, imported from SoW Skin Server page */
    /* Fonts */
    --primary-font: "Madimi One";
    --secondary-font: "Open Sans";
    --minecraft-font: "Minecraft";
    /* Transition Durations */
    --tgl-transition: 100ms;
    --login-field-transition: 240ms;
    --nav-transition: 200ms;
    /* Other fields */
    --radius-md: 10px;
    --radius-sm: 5px;
    --box-shadow: 0px 3px 5px -1px #00000033, 0px 5px 8px 0px #00000024, 0px 1px 14px 0px #0000001f;
    --margin-base: 1in;
    --blur: 25px;
}

* {
    transition-duration: 100ms;
}

/* Global Styles */
html,
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    color: black;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    background-color: #dfdfdf;
}

nav {
    position: sticky;
    align-items: center;
    z-index: 0;
    padding: 0px;
    box-shadow: 0 3px 40px black;
}
nav .container {
    display: flex;
    margin: 0px;
    margin-left: 3rem;
    margin-right: 3rem;
}
nav .container .navbar-brand {
    width: 190px;
    margin-right: auto;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    height: 44px;
    display: flex;
    font-family: "Noto Sans";
}
nav .container .navbar-brand .banner-logo {
    content: none;
    background-image: url("../vectors/SVG/Frostlight-Fox-Logo.svg");
    background-repeat: no-repeat;
    background-position: center center;
    color: transparent;
    margin-right: 10px;
    width: 44px;
    height: 44px;
    min-width: 44px;
    display: inline-block;
}
nav .container .nav-hidden {
    display: none;
}
nav .container .navbar-nav .navbar-list {
    list-style-position: inside;
    display: flex;
    margin: 0;
}
nav .container .navbar-nav .navbar-list .navbar-item {
    list-style-type: none;
    display: inline-block;
    background-color: #dfdfdf;
    width: 100px;
    cursor: pointer;
    text-align: center;
    line-height: 44px;
    color: #292929;
    text-decoration: none;
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0em 0em inset rgb(0, 255, 179), 0 0em inset #dfdfdf;
}
nav .container .navbar-nav .navbar-list .navbar-item:hover {
    box-shadow: 0em -0.15em inset rgb(0, 255, 179), 0 3em inset #818181;
    color: rgb(0, 255, 179);
    text-decoration: none;
}
nav .container .navbar-nav .navbar-list .navbar-item[data-active=true] {
    box-shadow: 0em -0.3em inset rgb(0, 183, 255), 0 0em inset #818181;
}
nav .container .navbar-nav .navbar-list .navbar-item[data-active=true]:hover {
    box-shadow: 0em -0.15em inset rgb(0, 255, 179), 0 3em inset #818181;
    color: rgb(0, 255, 179);
    text-decoration: none;
}

.header {
    text-align: left;
    height: auto;
    padding-bottom: 10rem;
}
.header .title {
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    left: 5rem;
    top: 3rem;
    position: relative;
    box-shadow: var(--box-shadow);
    border-radius: var(--radius-md);
    padding-left: 10px;
    padding-right: 10px;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
}
.header .title .text {
    background-color: transparent;
    margin: 0.3in;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 5rem;
}
.header .title .text h1 {
    font-family: var(--primary-font);
    color: #dfdfdf;
    font-size: 36pt;
}
.header .title .text p {
    font-family: var(--secondary-font);
    color: #c7c7c7;
}
.header .title .header-logo {
    content: none;
    background-image: url("../assets/vectors/SVG/Frostlight-Fox-Logo.svg");
    background-repeat: no-repeat;
    background-position: center center;
    color: transparent;
    margin-right: 10px;
    width: 175px;
    height: 175px;
    background-size: 175px;
    min-width: 175px;
    min-height: 175px;
    display: inline-block;
}

.footer {
    background-color: #292929;
    color: white;
}
.footer .foot-contain {
    display: flex;
}
.footer .foot-contain .foot-social {
    flex-basis: 20%;
    min-width: -moz-fit-content;
    min-width: fit-content;
}
.footer .foot-contain .foot-social ul h3 {
    font-family: var(--primary-font);
}
.footer .foot-contain .foot-social ul li {
    list-style-type: none;
    font-family: var(--secondary-font);
    text-indent: 2em;
    cursor: pointer;
}
.footer .foot-contain .foot-divider {
    background-color: rgba(255, 255, 255, 0.062745098);
    flex-basis: 0.1em;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    color: transparent;
}
.footer .foot-contain .foot-links {
    display: flex;
}
.footer .foot-contain .foot-links .column .link-contain ul h3 {
    font-family: var(--primary-font);
}
.footer .foot-contain .foot-links .column .link-contain ul li {
    font-family: var(--secondary-font);
    list-style-type: none;
    text-indent: 2em;
    cursor: pointer;
}
.footer .footer-banner .foot-notes {
    display: inline-block;
    bottom: 0;
    position: relative;
    padding-left: 5rem;
    padding-right: 5rem;
}
.footer .footer-banner .foot-notes a {
    box-shadow: 0 0 inset rgb(0, 255, 179);
    margin-left: 0;
}
.footer .footer-banner .foot-notes a:hover {
    color: rgb(0, 255, 179);
    box-shadow: 0 -0.1em inset rgb(0, 255, 179);
    cursor: pointer;
}
.footer .footer-link {
    box-shadow: 0 0 inset rgb(0, 255, 179);
    margin-left: 0;
}
.footer .footer-link:hover {
    color: rgb(0, 255, 179);
    box-shadow: 0.1em 0 inset rgb(0, 255, 179);
    cursor: pointer;
}