/* Import CSS */
@import url("header-footer.css");
.body {
    margin-left: 7rem;
    margin-right: 7rem;
    background-color: #f5f5f5;
    font-family: var(--primary-font);
    margin-bottom: auto;
    padding-top: 1rem;
}
.body .section-divider {
    margin-left: 10rem;
    margin-right: 10rem;
    height: 3px;
    border-radius: 1.5px;
    overflow: hidden;
    background-color: rgb(141, 141, 141);
    margin-bottom: 1rem;
    color: transparent;
    cursor: default;
    pointer-events: none;
}
.body .project-container {
    margin-left: 4rem;
    margin-right: 4rem;
}
.body .project-container .project-header .project-about h1 {
    font-family: var(--primary-font);
    font-family: "Open Sans";
}
.body .project-container .project-header .project-about h2 {
    font-family: var(--secondary-font);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}
.body .project-container .project-header .project-about p {
    font-family: var(--secondary-font);
}
.body .project-container .teaser-gallery .gallery-header h2 {
    font-family: var(--secondary-font);
}
.body .project-container .teaser-gallery .gallery-collage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.body .project-container .teaser-gallery .gallery-collage .gallery-item {
    display: inline-block;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    background-position: center center;
    background-size: cover;
    margin: 1em;
    transition-duration: 450ms;
    padding: 0;
    height: 0px;
    opacity: 0%;
}
.body .project-container .teaser-gallery .gallery-collage .gallery-item img {
    width: 15em;
}
.body .project-container .teaser-gallery .gallery-collage .gallery-item .label {
    background-color: rgba(0, 0, 0, 0.808);
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 0px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    transition-duration: 450ms;
    opacity: 0%;
}
.body .project-container .teaser-gallery .gallery-collage .gallery-item .label h2 {
    font-family: 24px;
    font-family: var(--primary-font);
    color: white;
    width: 100%;
    display: inline-block;
    margin-top: 30px;
}
.body .project-container .teaser-gallery .gallery-collage .gallery-item .label p {
    font-family: var(--secondary-font);
    display: inline-block;
    color: white;
    width: 100%;
    margin-top: 10px;
}
.body .project-container .teaser-gallery .gallery-collage .gallery-item:hover {
    transform: scale(110%);
    cursor: pointer;
}
.body .project-container .teaser-gallery .gallery-collage .gallery-item:hover .label {
    background-color: rgba(0, 0, 0, 0.384);
    width: 100%;
    opacity: 100%;
}
.body .project-container .teaser-gallery .gallery-collage .gallery-item:hover .label h2 {
    font-family: 24px;
    font-family: var(--primary-font);
    color: white;
}
.body .project-container .teaser-gallery .gallery-collage .gallery-item:hover .label p {
    font-family: var(--secondary-font);
    color: white;
}
.body .social-promo {
    font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
    padding-bottom: 2rem;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 4rem;
    background-image: url(../images/FrostlightMountainSnow-TeamPhoto.png);
    background-size: cover;
    background-position: center 40%;
}
.body .social-promo .overlay {
    background-color: rgba(255, 255, 255, 0.685);
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    width: -moz-fit-content;
    width: fit-content;
    display: inline-block;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
}
.body .social-promo .overlay h2 {
    font-family: Ginto Normal;
    display: block;
}
.body .social-promo .overlay p {
    display: block;
}
.body .social-promo .overlay a {
    padding: 10px;
    border-radius: 25px;
    background-color: #5865f2;
    color: white;
    cursor: pointer;
    display: inline-block;
    width: -moz-fit-content;
    width: fit-content;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 14px 0px rgba(0, 0, 0, 0.1215686275), 0 0 #23272a;
    transition-duration: 250ms;
}
.body .social-promo .overlay a:hover {
    background-color: #7289DA;
    color: white;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 14px 0px rgba(0, 0, 0, 0.1215686275), -2px 5px #4E5D94;
    transform: translate(2px, -5px);
}

@media screen and (max-width: 1200px) {
    .body {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}
@media screen and (max-width: 720px) {
    .body {
        margin-left: 0rem;
        margin-right: 0rem;
    }
}